header.header
    a.ajax-link(data-router-link href='/')
        | index
    a.ajax-link(data-router-link href='/level-1')
        | level-1
    a.ajax-link(data-router-link href='/level-2')
        | level-2
    a.ajax-link(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes' target="_blank")
        | level-25
