header.header
    a.ajax-link(data-type='page-transition' href='/')
        | index
    a.ajax-link(data-type='page-transition' href='/level-1')
        | level-1
    a.ajax-link(data-type='page-transition' href='/level-2')
        | level-2
